/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  background-color: #090b1a;
  font-size: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i,
a,
button {
  cursor: pointer;
}

/* CONTAINER */

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto;
  width: 80%;
}
.write-up,
.image {
  flex: 25%;
  padding: 20px;
}
.write-up {
  background-color: #1b1938;
  padding: 40px 30px;
  width: 70%;
}
.write-up h1 {
  font-weight: 700;
}
.write-up h1 span {
  color: #aa5cdb;
}
.write-up p {
  color: #ffffffbf;
  width: 360px;
  padding: 20px 5px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  flex: 25%;
}
.companies,
.templates,
.queries {
  width: 100px;
  margin-right: 30px;
}
.stats p {
  color: #ffffff99;
}

.image {
  background: linear-gradient(to left, rgba(10, 19, 10, 0), #aa5cdb),
    url("./stats-preview-card-component-main/images/image-header-desktop.jpg");

  background-size: cover;
  height: 340px;
  width: 75%;
}
@media (max-width: 1110px) {
  .image {
    background-size: cover;
    height: 428px;
    width: 95%;
  }

  .write-up {
    width: 95%;
  }
  .companies,
  .templates,
  .queries {
    width: 70px;
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .container {
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }
  .row {
    flex-direction: column;
  }
  .write-up,
  .image {
    flex: 50%;
    /* margin: auto; */
  }
  .write-up {
    order: 1;
  }
  .image {
    height: 400px;
    width: 70%;
    /* background-position: center; */
    background-size: cover;
  }

  .stats {
    flex-direction: column;
    align-items: center;
    flex: 50%;
  }
  .write-up h1 {
    text-align: center;
  }
  .write-up h2 {
    text-align: center;
  }
  /* .stats p {
    text-align: center;
  } */
  .write-up h1 span {
    text-align: center;
  }
  .paragraph {
    flex-direction: column;
    align-items: center;
  }
  .paragraph p {
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 590px) {
  .paragraph p {
    text-align: center;
    font-size: 11px;
    width: 250px;
  }
}
